<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LIBRARY_LATEST.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="LIBRARY_LATEST.My.MySettings.LIBRARY" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Library\LIBRARY.mdf;Initial Catalog=Library20.5.19;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <LIBRARY_LATEST.My.MySettings>
            <setting name="TRANSACT" serializeAs="String">
                <value>False</value>
            </setting>
        </LIBRARY_LATEST.My.MySettings>
    </userSettings>
</configuration>